body {
  background: rgb(0, 124, 10);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.game-board {
  height: 600px;
  width: 600px;
  flex-shrink: 0;
}

.actions {
  max-width: 70%;
  height: 80%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 10px;
}

.actions p {
  text-align: center;
  font-size: 1.5em;
}

.actions span {
  text-align: center;
  color: green;
  font-size: 1.3;
  text-align: right;
}

.actions button {
  width: 40px;
  height: 40px;
  margin: 2px;
}

.actions .betAmount button {
  width: 80px;
  height: 40px;
  margin: 2px;
}

#bank-roll {
  font-size: 2em;
  text-align: right;
}

.mostInnerWheel p {
  text-align: center;
  top: 200px;
}

.rotate {
  animation: rotation 45s infinite linear;
}

.ballRotate {
  animation: ballRotation 14s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes reverseRotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes ballRotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes ballVisible {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#spin {
  width: 100%;
  height: 150px;
  margin-top: 50px;
  padding: 0;
  background-color: rgb(211, 7, 0);
  border: none;
  border-radius: 7px;
  font-size: 4em;
  color: white;
}

.wheel {
  position: relative;
  border-radius: 50%;
  border: 15px solid goldenrod;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
  font-size: 1.8em;
}

#innerWheel {
  z-index: 1;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 60px;
  left: 60px;
  background-color: black;
  border-radius: 50%;
  border: 5px solid silver;
  opacity: 75%;
}

#ball {
  position: absolute;
  background: lightblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 7px;
  left: 50%;
  transition: linear;
}

.mostInnerWheel {
  z-index: 2;
  position: absolute;
  width: 60%;
  height: 60%;
  top: 115px;
  left: 117px;
  background-color: rgb(109, 109, 109);
  border-radius: 50%;
  border: 8px solid silver;
  animation: reverseRotation 45s infinite linear;
}

.wheelSlice {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  transform: skewY(80deg) rotate(5deg);
  padding-top: 15px;
  color: whitesmoke;
  font-weight: bold;
  font-size: inherit;
  transition: 0.5s;
}

#chosen {
  color: rgb(109, 109, 109);
}

li {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

li:nth-child(1) {
  transform: rotate(0deg) skewY(-80deg);
}
li:nth-child(2) {
  transform: rotate(10deg) skewY(-80deg);
}
li:nth-child(3) {
  transform: rotate(20deg) skewY(-80deg);
}
li:nth-child(4) {
  transform: rotate(29deg) skewY(-80deg);
}
li:nth-child(5) {
  transform: rotate(39deg) skewY(-80deg);
}
li:nth-child(6) {
  transform: rotate(49deg) skewY(-80deg);
}
li:nth-child(7) {
  transform: rotate(59deg) skewY(-80deg);
}
li:nth-child(8) {
  transform: rotate(68deg) skewY(-80deg);
}
li:nth-child(9) {
  transform: rotate(78deg) skewY(-80deg);
}
li:nth-child(10) {
  transform: rotate(88deg) skewY(-80deg);
}
li:nth-child(11) {
  transform: rotate(98deg) skewY(-80deg);
}
li:nth-child(12) {
  transform: rotate(107deg) skewY(-80deg);
}
li:nth-child(13) {
  transform: rotate(117deg) skewY(-80deg);
}
li:nth-child(14) {
  transform: rotate(127deg) skewY(-80deg);
}
li:nth-child(15) {
  transform: rotate(137deg) skewY(-80deg);
}
li:nth-child(16) {
  transform: rotate(146deg) skewY(-80deg);
}
li:nth-child(17) {
  transform: rotate(156deg) skewY(-80deg);
}
li:nth-child(18) {
  transform: rotate(166deg) skewY(-80deg);
}
li:nth-child(19) {
  transform: rotate(176deg) skewY(-80deg);
}
li:nth-child(20) {
  transform: rotate(185deg) skewY(-80deg);
}
li:nth-child(21) {
  transform: rotate(195deg) skewY(-80deg);
}
li:nth-child(22) {
  transform: rotate(205deg) skewY(-80deg);
}
li:nth-child(23) {
  transform: rotate(215deg) skewY(-80deg);
}
li:nth-child(24) {
  transform: rotate(224deg) skewY(-80deg);
}
li:nth-child(25) {
  transform: rotate(234deg) skewY(-80deg);
}
li:nth-child(26) {
  transform: rotate(244deg) skewY(-80deg);
}
li:nth-child(27) {
  transform: rotate(254deg) skewY(-80deg);
}
li:nth-child(28) {
  transform: rotate(263deg) skewY(-80deg);
}
li:nth-child(29) {
  transform: rotate(273deg) skewY(-80deg);
}
li:nth-child(30) {
  transform: rotate(283deg) skewY(-80deg);
}
li:nth-child(31) {
  transform: rotate(293deg) skewY(-80deg);
}
li:nth-child(32) {
  transform: rotate(302deg) skewY(-80deg);
}
li:nth-child(33) {
  transform: rotate(312deg) skewY(-80deg);
}
li:nth-child(34) {
  transform: rotate(322deg) skewY(-80deg);
}
li:nth-child(35) {
  transform: rotate(332deg) skewY(-80deg);
}
li:nth-child(36) {
  transform: rotate(341deg) skewY(-80deg);
}
li:nth-child(37) {
  transform: rotate(351deg) skewY(-80deg);
}
li:nth-child(odd) .wheelSlice {
  background-color: black;
}
li:nth-child(even) .wheelSlice {
  background-color: red;
}
li:first-child .wheelSlice {
  background: green;
}

#add-funds-5000 {
  width: 100px;
}