body {
    background: rgb(0, 124, 10);
  }
  
  #container {
    text-align: center;
    transition: all;
    width: auto;
    height: 755px;
    transition-duration: 4s;
  }
  
  div.circTxt {
    display: inline-block;
    margin-bottom: 128px;
    color: whitesmoke;
  }

  .spin {
      transform: rotate(1080deg);
  }

  /* #ball {
      position: absolute;
      transform: rotate(360deg);
  } */
